<div id="product-management" class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">裸钻管理</h2>
            </div>
            <div class="panel-body">
                <a id="product-management-diamond-on-sale" class="btn btn-default" role="button" href="javascript:void(0)"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 在售裸钻</a>
                <a id="product-management-diamond-import" class="btn btn-default" role="button" href="javascript:void(0)"><span class="glyphicon glyphicon-open-file" aria-hidden="true"></span> 裸钻导入</a>
                <a id="product-management-diamond-history" class="btn btn-default" role="button" href="javascript:void(0)"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> 裸钻上传历史</a>
            </div>
        </div>
    </div>
</div>
