<div class="row">
    <div class="col-md-12">
        <a id="dashboard-page-print" class="btn btn-default" role="button" href="javascript:void(0)"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> 打印售后服务卡和收据</a>
    </div>
</div>
