@model SsisControlModel
<div id="@(Model.HtmlIdPrefix + "-ssis-running")">
    <p class="text-info text-center">报表正在后台运行中，请稍等……</p>
    <p class="text-info text-center">您可以关闭此窗口并在稍晚重新打开。</p>
    <div class="progress">
        <div class="progress-bar progress-bar-striped active home-indeterminable" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <span class="sr-only">正在运行中</span>
        </div>
    </div>
</div>
<div id="@(Model.HtmlIdPrefix + "-ssis-completed")">
    <p class="text-success text-center">报表已经完成运行，您现在可以进行查看。</p>
</div>
<div id="@(Model.HtmlIdPrefix + "-ssis-cancelled")">
    <p class="text-warning text-center">报表已经被取消运行，您可能无法查看完整的数据。</p>
</div>